@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbfbfb ;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF7900;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E86E00;
  transition-duration: 0.5s;
}
